apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: rancher-tls
  namespace: {{ tls_namespace }}
spec:
  secretName: {{ tls_secret_name }}
  issuerRef:
    name: {{ tls_cluster_issuer_name }}
    kind: ClusterIssuer
  commonName: {{ tls_rancher_hostname }}
  dnsNames:
    - {{ tls_rancher_hostname }}
