---
# Helm repos
rancher_helm_repo_name: rancher-stable
rancher_helm_repo_url: "https://releases.rancher.com/server-charts/stable"

# Use Helm 3 (Rancher 2.12.x requires Helm 3.18+)
# Script + version are separate so you can bump without touching tasks.
helm_url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
helm_version: ""
jetstack_helm_repo_name: jetstack
jetstack_helm_repo_url: "https://charts.jetstack.io"

# Namespaces
rancher_namespace: cattle-system
cert_manager_namespace: cert-manager

# Optional pinning (empty = latest from repo, but you should set these in prod)
rancher_chart_version: ""
cert_manager_tag: ""              # for GitHub URL
cert_manager_chart_version: ""    # for Helm
cert_manager_url: "https://github.com/cert-manager/cert-manager/releases/download/{{ cert_manager_tag }}/cert-manager.crds.yaml"

# Disable cert-manager startup API check job by default (it can be flaky in labs)
cert_manager_startupapicheck_enabled: false

# Rancher config
rancher_hostname: "{{ vault_hostname }}"
rancher_replicas: 1

# Rancher ingress TLS settings
# rancher  -> use cert-manager to provision certs
# secret   -> use pre-created Kubernetes TLS secret
# letsEncrypt -> (future) LE integration
rancher_ingress_tls_source: "secret"
rancher_tls_secret_name: "tls-rancher-ingress"

# TLS mode for Rancher ingress:
# - selfsigned: use tls-rancher-ingress secret created by Prairie
# - letsencrypt: use Rancher + cert-manager + Let's Encrypt
prairie_tls_mode: "selfsigned"

# Email used for Let's Encrypt registration
vault_lets_encrypt_email: ""

# Ingress class to use for LE HTTP-01 challenges
# k3s default is traefik, RKE2 default is nginx
rancher_ingress_class: >-
  {{ 'traefik' if prairie_kubernetes_distribution == 'k3s' else 'nginx' }}

# Flag controlling whether cert-manager is installed
prairie_enable_cert_manager: "{{ prairie_tls_mode in ['letsencrypt', 'rancher'] }}"
