---
# Helm repos
rancher_helm_repo_name: rancher-stable
rancher_helm_repo_url: "https://releases.rancher.com/server-charts/stable"

# Use Helm 3 (Rancher 2.12.x requires Helm 3.18+)
# Script + version are separate so you can bump without touching tasks.
helm_url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
helm_version: ""
jetstack_helm_repo_name: jetstack
jetstack_helm_repo_url: "https://charts.jetstack.io"

# Namespaces
rancher_namespace: cattle-system
cert_manager_namespace: cert-manager

# Optional pinning (empty = latest from repo, but you should set these in prod)
rancher_chart_version: "2.12.3"
cert_manager_tag: "v1.19.1"              # for GitHub URL
cert_manager_chart_version: "v1.19.1"    # for Helm
cert_manager_url: "https://github.com/cert-manager/cert-manager/releases/download/{{ cert_manager_tag }}/cert-manager.crds.yaml"

# Disable cert-manager startup API check job by default (it can be flaky in labs)
cert_manager_startupapicheck_enabled: false

# Rancher config
rancher_hostname: "{{ vault_hostname }}"
rancher_replicas: 1

# Prairie feature flags
prairie_enable_cert_manager: false

# Rancher ingress TLS settings
# rancher  -> use cert-manager to provision certs
# secret   -> use pre-created Kubernetes TLS secret
# letsEncrypt -> (future) LE integration
rancher_ingress_tls_source: "secret"
rancher_tls_secret_name: "tls-rancher-ingress"
