---
- name: Download latest Helm 4
  get_url:
    url: "{{ helm_url }}"
    dest: /opt/get_helm.sh
    mode: '0755'
  
- name: Install Helm 4
  command: /opt/get_helm.sh

- name: Add rancher-latest repo
  include_tasks: repos.yml
  tags:
    - rancher-latest