---
- name: Download Helm installer script
  get_url:
    url: "{{ helm_url }}"
    dest: /opt/get_helm.sh
    mode: '0755'

- name: Install Helm (optionally pinned)
  command: >
    /opt/get_helm.sh {{ '--version ' ~ helm_version if helm_version|length > 0 else '' }}
  register: helm_install
  changed_when: "'Helm ' in helm_install.stdout or 'installed into' in helm_install.stdout"

- name: Ensure Rancher Helm repo is configured
  kubernetes.core.helm_repository:
    name: "{{ rancher_helm_repo_name }}"
    repo_url: "{{ rancher_helm_repo_url }}"
    state: present
    force_update: true
  register: rancher_repo_result
  failed_when: false

- name: Ensure Jetstack Helm repo is configured
  kubernetes.core.helm_repository:
    name: "{{ jetstack_helm_repo_name }}"
    repo_url: "{{ jetstack_helm_repo_url }}"
    state: present
    force_update: true
  register: jetstack_repo_result
  failed_when: false

- name: Update Helm repos
  command: helm repo update
  register: helm_repo_update
  changed_when: "'Update Complete.' in helm_repo_update.stdout"
