---
- name: Download k3s
  get_url:
    url: "{{ k3s_url }}"
    dest: /opt/k3s-install.sh
    mode: '0755'

- name: Install k3s
  command: /opt/k3s-install.sh
  args:
    creates: /usr/local/bin/k3s

- name: Add kubectl alias for easier use
  lineinfile:
    path: /root/.bashrc
    line: "alias kubectl='/usr/local/bin/k3s kubectl'"
    insertafter: EOF
    state: present
    backup: yes

- name: Add KUBECONFIG to .bashrc
  lineinfile:
    path: /root/.bashrc
    line: "export KUBECONFIG=/etc/rancher/k3s/k3s.yaml"
    insertafter: EOF
    state: present
    backup: yes