---
- name: Prepare Helm and Rancher Helm repo
  import_tasks: helm.yml

- import_tasks: cert_manager.yml
  when: prairie_enable_cert_manager
  tags:
    - cert-manager

- import_tasks: rancher_install.yml
  tags:
    - rancher

- name: Verify Rancher deployment and ingress
  import_tasks: verify.yml