---
- name: Prepare Helm and Rancher Helm repo
  import_tasks: helm.yml

- name: Deploy cert-manager
  import_tasks: cert_manager.yml

- name: Deploy Rancher
  import_tasks: rancher_install.yml

- name: Verify Rancher deployment and ingress
  import_tasks: verify.yml