---
- name: Check if {{ rancher_namespace }} namespace exists
  command: kubectl get namespace {{ rancher_namespace }}
  register: cattle_ns
  failed_when: false
  changed_when: false

- name: Create {{ rancher_namespace}} namespace
  command: kubectl create namespace {{ rancher_namespace }}
  when: cattle_ns.rc != 0

- name: Deploy or upgrade Rancher
  kubernetes.core.helm:
    name: rancher
    chart_ref: "{{ rancher_helm_repo_name }}/rancher"
    chart_version: "{{ rancher_chart_version | default(omit) }}"
    release_namespace: "{{ rancher_namespace }}"
    create_namespace: true
    wait: true
    timeout: 1200s
    values:
      hostname: "{{ rancher_hostname }}"
      replicas: "{{ rancher_replicas }}"
      bootstrapPassword: "{{ rancher_bootstrap_password }}"
      ingress:
        tls:
          source: secret
  register: rancher_helm
  