---
- name: Check if /swapfile exists
  stat:
    path: /swapfile
  register: swapfile_stat

- name: Fallocate /swapfile
  command: fallocate -l 2G /swapfile
  when: not swapfile_stat.stat.exists

- name: Set /swapfile permissions
  file:
    path: /swapfile
    mode: '0600'

- name: Create /swapfile
  command: mkswap /swapfile
  when: not swapfile_stat.stat.exists

- name: Enable /swapfile
  command: swapon /swapfile
  failed_when: >
    swapon_result.rc != 0 and
    'is already in use' not in swapon.result.stderr
  changed_when: >
    swapon_result.rc == 0 and
    'is already in use' not in swapon_result.stderr

- name: Add /swapfile to /etc/fstab
  mount:
    name: none
    src: /swapfile
    fstype: swap
    opts: sw
    passno: '0'
    dump: '0'
    state: present

- name: Set swappiness
  sysctl:
    name: vm.swappiness
    value: "10"
    state: present
    reload: yes