---
# Minimal post-deploy checks for Rancher (kubectl-based)

- name: Get Rancher pods in {{ rancher_namespace }}
  command: kubectl -n {{ rancher_namespace }} get pods --no-headers
  register: rancher_pods
  changed_when: false
  failed_when: false

- name: Show Rancher pods
  debug:
    msg: >
      Rancher pods in namespace '{{ rancher_namespace }}':
      {{ rancher_pods.stdout_lines | default(['(none)']) }}

- name: Display Rancher URL
  debug:
    msg: "Rancher is deploying at https://{{ rancher_hostname }}"
